    <div id="aboutMainContainer" class="p-4 d-flex align-items-center">
      <div class="row">
        <div id="filler" class="col-sm"></div>
        <div class="col-sm-10 border border-secondary p-4 text-left">
          <br/>
          <h2 id="aboutTitle" class="display-2 mb-5 text-center">About Us</h2>
          <p class="p2 display-6">The Shot-Map app allows our users to capture some of their favorite Wisconsin road trip moments. We want our user community
            to explore and share their experiences in different parks, hiking trails, restaurants or even festivals and the like! By
            signing up and taking a photo to upload it to our database, everyone in the Shot-Map community can add helpful content!
          </p>
          <br/>
          <p class="display-6">By taking the information in our database and displaying it on our app page, users can search for a city close to them or en route on their
          travels that they want to visit and check out. Once they take a picture and upload it to the website, then other community members of Shot-Map
          can find cool areas to explore and take pictures at too!
          </p>
          <br/>
          <p class="display-6">Vist our GitHub for Shot-Map <a href="https://github.com/JayARTman/Shot-map">here!</a></p>
          <br/>
        </div>
        <div id="filler" class="col-sm"></div>
    </div>