    <section id="main-contact-container" class="p-4 m-4 text-center d-flex align-items-center">
        <form>
            <div class="row d-flex">
                <h1>Contact Us</h1>
                <h3>If you have any questions, please fill out these fields with your information, and we will be happy to help you.</h3>
                <div class="col">
                    <input type="text" class="form-control pt-3" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control pt-3" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="contactEmail"></label>
                    <input type="text" class="form-control pt-3" id="contactEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control pt-3 mb-4" id="formGroupExampleInput" placeholder="Enter your message here..">
                </div>
                <div id="submitContactButtonDiv">    
                    <button id="submitContactButton" type="button" class="btn btn-secondary btn-lg d-inline-flex justify-content-center pt-3 w-100">Submit</button>
                </div>
            </div>
        </form>
    </section>    