    <section id="mainContactContainer" class="p-4 text-center d-flex align-items-center">
        
        <form class="container-fluid col-md-10 col-lg-8 col-xl-7 border-border-secondary">
            <div class="row border border-secondary">
                <h1 id="contactTitle" class="mb-5 display-2">Contact Us</h1>
                <h3 class="mb-5 display-6">If you have any questions, please fill out these fields with your information, and we will be happy to help you.</h3>
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="contactEmail"></label>
                    <input type="text" class="form-control" id="contactEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control mb-4" id="formGroupExampleInput" placeholder="Enter your message here..">
                </div>
                <div id="submitContactButtonDiv">    
                    <button id="submitContactButton" type="button" class="btn btn-secondary btn-lg d-inline-flex justify-content-center w-100 mb-3">Submit</button>
                </div>
            </div>
        </form>
        
    </section>    