<!-- main div that holds top(hero) middle(signup) and lower(upload) divs-->
<body>
  <section class="main-container text-center">
    <div class="row">
      <div class="col-sm">
        <!-- hero div -->
        <article id="heroImage" class="d-flex align-items-center">
            <div class="container-fluid col-md-10 col-lg-8 col-xl-7">
              <div class="row">
                <div id="filler" class="col-sm"></div>
                <div class="col-sm-10 mt-4">
                  <h2 class="text-white">Search for photos in Wisconsin cities!</h2>  
                  <div class="row justify-content-center">
                    <div class="col-9">
                      <div class="input-group justify-content-center">
                        <select class="custom-select rounded" id="inputGroupSelect04" aria-label="Example select with button addon">
                          <option selected>Select a City:</option>
                          <option id="1" class="dropdown-city-option" value="1">Appleton</option>
                          <option id="2" class="dropdown-city-option" value="2">Beloit</option>
                          <option id="3" class="dropdown-city-option" value="3">Brookfield</option>
                          <option id="4" class="dropdown-city-option" value="4">Eau Claire</option>
                          <option id="5" class="dropdown-city-option" value="5">Fond du Lac</option>
                          <option id="6" class="dropdown-city-option" value="6">Green Bay</option>
                          <option id="7" class="dropdown-city-option" value="7">Greenfield</option>
                          <option id="8" class="dropdown-city-option" value="8">Janesville</option>
                          <option id="9" class="dropdown-city-option" value="9">Kenosha</option>
                          <option id="10" class="dropdown-city-option" value="10">La Crosse</option>
                          <option id="11" class="dropdown-city-option" value="11">Madison</option>
                          <option id="12" class="dropdown-city-option" value="12">Milwaukee</option>
                          <option id="13" class="dropdown-city-option" value="13">New Berlin</option>
                          <option id="14" class="dropdown-city-option" value="14">Oshkosh</option>
                          <option id="15" class="dropdown-city-option" value="15">Racine</option>
                          <option id="16" class="dropdown-city-option" value="16">Sheboygan</option>
                          <option id="17" class="dropdown-city-option" value="17">Waukesha</option>
                          <option id="18" class="dropdown-city-option" value="18">Wausau</option>
                          <option id="19" class="dropdown-city-option" value="19">Wauwatosa</option>
                          <option id="20" class="dropdown-city-option" value="20">West Allis</option>
                        </select>
                        <button type="button" class="btn btn-secondary" id="searchBtn">Search</button>
                      </div>  
                    </div>    
                  </div> 
                </div>
              <div id="filler" class="col-sm">
            </div>
          </div>
        </article>
        <!-- sign-up div -->
        <article class="sign-up-container">
            <div class="row">
              <div id="filler" class="col-sm"></div>
              <div class="col-sm-8 col-lg-7 col-xl-6 justify-content-center text-center pt-4 pb-2">
                <h3>Not a member of the Shot-Map community yet!? SIGN UP now!</h3>
                <br/>
                <a type="button" class="btn btn-secondary col-6 col-xl-4" href="/signup">
                  Sign up
                </a>
                <br/>
                <br/>
              </div>
              <div id="filler" class="col-sm"></div>
            </div>
        </article>
        <!-- Uploaded images div -->
        <article class="upload-images-container d-flex align-items-center">
          <div class="container-fluid col-md-10 col-lg-8 col-xl-7">
            <div class="row">               
              {{!-- <div id="filler" class="col-sm"></div> --}}
              <div id="contentParent" class="col-sm-12">
                <h4 class="mb-3">Latest Uploads:</h4>              
                <div id='content' class="d-inline-flex text-center align-items-center justify-content-around flex-wrap col-xs-9 col-sm-10 col-md-9 col-xl-8">
                  <script  type='text/x-handlebars-template' id="posts-template"></script> 
                </div>
              </div>
              {{!-- <div id="filler" class="col-sm"></div>  --}}
            </div>                  
          </div>
        </article>
      </div>
    </div>
  </section>
  <script src='/js/index.js'></script>
</body>