        <!-- main div that holds top(hero) middle(signup) and lower(upload) divs-->
    <section class="main-container text-center">
        <div class="row">
          <div class="col-sm">
            <!-- hero div -->
            <article class="hero-container bg-primary">
                <div class="row">
                    <!-- filler is used for the empty spacing on the left and right sides of the center grid, which is where our stuff will be -->
                    <!-- KEEP THESE! -->
                  <div id="filler" class="col-sm"></div>
                  <div class="col-sm-10">
                    <h2>Hi, John Doe!</h2>  
                  </div>
                  <div id="filler" class="col-sm"></div>
                </div>
            </article>
            <!-- sign-up div -->
            <article class="sign-up-container flex-d bg-danger">
                <div class="row">
                  <div id="filler" class="col-sm"></div>
                  <div class="col-sm-10 align-self-center">
                    <h3>Upload a new photo</h3>
                    <!-- dropdown button works, but we should make the list smaller with a scroll bar -->
                    <!-- bootstrap has a choose form to use for this -->
                    <div class="dropdown">
                        <button id="selectCitySignInBtn" class="btn btn-secondary dropdown-toggle pb-1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select a City:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Appleton</button>
                          <button class="dropdown-item" type="button">Beloit</button>
                          <button class="dropdown-item" type="button">Brookfield</button>
                          <button class="dropdown-item" type="button">Eau Claire</button>
                          <button class="dropdown-item" type="button">Fond du Lac</button>
                          <button class="dropdown-item" type="button">Green Bay</button>
                          <button class="dropdown-item" type="button">Greenfield</button>
                          <button class="dropdown-item" type="button">Janesville</button>
                          <button class="dropdown-item" type="button">Kenosha</button>
                          <button class="dropdown-item" type="button">La Crosse</button>
                          <button class="dropdown-item" type="button">Madison</button>
                          <button class="dropdown-item" type="button">Milwaukee</button>
                          <button class="dropdown-item" type="button">New Berlin</button>
                          <button class="dropdown-item" type="button">Oshkosh</button>
                          <button class="dropdown-item" type="button">Racine</button>
                          <button class="dropdown-item" type="button">Sheboygan</button>
                          <button class="dropdown-item" type="button">Waukesha</button>
                          <button class="dropdown-item" type="button">Wausau</button>
                          <button class="dropdown-item" type="button">Wauwatosa</button>
                          <button class="dropdown-item" type="button">West Allis</button>
                        </div>
                    </div>
                    <br/>
                    <h4>Select a Picture:</h4>
                    <!-- 'w-25' is how to set bootstrap's width -->
                    <!-- browse a file to upload input -->
                      <div class="row justify-content-center">
                          <div class="col-7">
                                <div class="input-group mb-3 w-100">
                                  <form>
                                    <div class="form-group">
                                      <label for="exampleFormControlFile1"></label>
                                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                  </form>
                                </div>
                          </div>    
                      </div>  
                    <!-- description of area input -->
                    <h4>Describe Your Journey!</h4>
                      <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="input-group-description mb-3 w-125">
                                <input type="text" class="form-control" placeholder="Where are you? How did you find this cool area?" aria-label="" aria-describedby="basic-addon1">
                            </div>
                        </div>    
                      </div> 
                      <button type="button" class="btn btn-secondary btn-lg pb-1">Submit</button>
                  <!-- col-sm-10 div end -->
                  </div>
                  <div class="col-sm">
                    Filler
                  </div>
                </div>
            </article>
            <!-- Uploaded images div -->
            <article class="upload-images-container">
              <div class="row">
                <div class="col-sm">
                    Filler
                </div>
                <div class="col-sm-10"> 
                    <section class="row justify-content-center">
                        <div class="col-sm-10">
                            <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <div class="img">
                                        <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                    </div>
                                  </div>
                                  <div class="col">
                                      <div class="img">
                                          <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                      </div>
                                  </div>
                                  <div class="w-100">
                                      <br/>
                                      <br/>
                                  </div>
                                  <div class="col">
                                    <div class="img">
                                        <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="img">
                                        <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                    </div>
                                  </div>
                                </div>
                              </div> 
                        </div>
                    </section>
                </div>
                <div class="col-sm">
                    Filler
                </div>
              </div>
            </article>
          </div>
        </div>
    </section>