<!-- main div that holds top(hero) middle(signup) and lower(upload) divs-->
    <section class="main-container text-center">
        <div class="row">
          <div class="col-sm">
            <!-- hero div -->
            <article class="hero-container bg-primary">
                <div class="row">
                    <!-- filler is used for the empty spacing on the left and right sides of the center grid, which is where our stuff will be -->
                    <!-- KEEP THESE! -->
                  <div id="filler" class="col-sm"></div>
                  <div class="col-sm-10">
                    <h2 id="userName"> Hi {{name}} </h2>  
                    <button id="logOutBtn" type="button" class="form-group-row btn btn-secondary w-100">LOG OUT</button>
                  </div>
                  <div id="filler" class="col-sm"></div>
                </div>
            </article>
            <!-- sign-up div -->
            <article class="sign-up-container flex-d bg-danger">
                <div class="row">
                  <div id="filler" class="col-sm"></div>
                  <div class="col-sm-10 align-self-center">
                    <h3>Upload a new photo</h3>
                    <!-- dropdown button works, but we should make the list smaller with a scroll bar -->
                    <!-- bootstrap has a choose form to use for this <!--
                    <div class="dropdown">
                       <!-- <button id="selectCitySignInBtn" class="btn btn-secondary dropdown-toggle pb-1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select a City:
                        </button> -->
                        <div <div class="input-group justify-content-center">
                          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                              <option selected>Choose...</option>
                              <option id="1" class="dropdown-city-option" value="1">Appleton</option>
                              <option id="2" class="dropdown-city-option" value="2">Beloit</option>
                              <option id="3" class="dropdown-city-option" value="3">Brookfield</option>
                              <option id="4" class="dropdown-city-option" value="4">Eau Claire</option>
                              <option id="5" class="dropdown-city-option" value="5">Fond du Lac</option>
                              <option id="6" class="dropdown-city-option" value="6">Green Bay</option>
                              <option id="7" class="dropdown-city-option" value="7">Greenfield</option>
                              <option id="8" class="dropdown-city-option" value="8">Janesville</option>
                              <option id="9" class="dropdown-city-option" value="9">Kenosha</option>
                              <option id="10" class="dropdown-city-option" value="10">La Crosse</option>
                              <option id="11" class="dropdown-city-option" value="11">Madison</option>
                              <option id="12" class="dropdown-city-option" value="12">Milwaukee</option>
                              <option id="13" class="dropdown-city-option" value="13">New Berlin</option>
                              <option id="14" class="dropdown-city-option" value="14">Oshkosh</option>
                              <option id="15" class="dropdown-city-option" value="15">Racine</option>
                              <option id="16" class="dropdown-city-option" value="16">Sheboygan</option>
                              <option id="17" class="dropdown-city-option" value="17">Waukesha</option>
                              <option id="18" class="dropdown-city-option" value="18">Wausau</option>
                              <option id="19" class="dropdown-city-option" value="19">Wauwatosa</option>
                              <option id="20" class="dropdown-city-option" value="20">West Allis</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <h4>Select a Picture:</h4>
                    <!-- browse a file to upload input -->
                      <div class="row justify-content-center">
                          <div class="col-7">
                                <div class="input-group mb-3 w-100">
                                  <form>
                                    <div class="form-group">
                                      <label for="exampleFormControlFile1"></label>
                                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                  </form>
                                </div>
                          </div>    
                      </div>  
                    <!-- description of area input -->
                    <h4>Describe Your Journey!</h4>
                      <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="input-group-description mb-3 w-125">
                                <input type="text" id="infoHolder" class="form-control" placeholder="Where are you? How did you find this cool area?" aria-label="" aria-describedby="basic-addon1">
                            </div>
                        </div>    
                      </div> 
                      <button type="button" class="btn btn-secondary btn-lg pb-1" id="submitBtn">Submit</button>
                  <!-- col-sm-10 div end -->
                  </div>
                  <div class="col-sm"></div>
                </div>
            </article>
            
            <!-- This is where user sees there own posts -->
            <div id='userContent' class="d-flex text-center align-items-center justify-content-around flex-wrap"></div>
            <!-- Uploaded images div -->
          <!--  <article class="upload-images-container">
              <div class="row">
                <div class="col-sm">
                    Filler
                </div>
                <div class="col-sm-10"> 
                    <section class="row justify-content-center">
                        <div class="col-sm-10">
                            <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <div class="img">
                                        <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                    </div>
                                  </div>
                                  <div class="col">
                                      <div class="img">
                                          <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                      </div>
                                  </div>
                                  <div class="w-100">
                                      <br/>
                                      <br/>
                                  </div>
                                  <div class="col">
                                    <div class="img">
                                        <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="img">
                                        <img src="./assets/images/150.png" alt="..." class="img-thumbnail">
                                    </div>
                                  </div>
                                </div>
                              </div> 
                        </div>
                    </section>
                </div>
                <div class="col-sm">
                    Filler
                </div>
              </div>
            </article> -->
          </div>
        </div>
    </section>
    <script src="/js/log-out.js"></script>    
    <script src="/js/posting.js"></script>