<!-- main div that holds top(hero) middle(signup) and lower(upload) divs-->
  <section class="main-container text-center">
    <div class="row">
      <div class="col-sm">
        <!-- hero div -->
        <article id="loggedInHeroImg" class="d-flex align-items-center">
          <div class="container-fluid col-md-10 col-lg-8 col-xl-7">
            <div class="row justify-content-center">
              <div class="col-sm-10">
                <h2 id="userName" class="text-white"> Welcome! {{name}} </h2>  
                <button id="logOutBtn" type="button" class="form-group-row btn btn-secondary col-6-sm col-md-3 col-lg-3 col-xl-3 mt-3">LOG OUT</button>
              </div>              
            </div>
          </div>  
        </article>
        <!-- upload container -->
        <article id="uploadContainer" class="d-flex align-items-center">
          <div class="container-fluid col-md-10 col-lg-8 col-xl-7 d-flex justify-content-center">
            <div class="row">
              <div class="col">
                <h3 class="mt-3">Upload a new photo</h3>
                <div <div class="input-group justify-content-center">
                  <select class="custom-select rounded" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option id="1" class="dropdown-city-option" value="1">Appleton</option>
                    <option id="2" class="dropdown-city-option" value="2">Beloit</option>
                    <option id="3" class="dropdown-city-option" value="3">Brookfield</option>
                    <option id="4" class="dropdown-city-option" value="4">Eau Claire</option>
                    <option id="5" class="dropdown-city-option" value="5">Fond du Lac</option>
                    <option id="6" class="dropdown-city-option" value="6">Green Bay</option>
                    <option id="7" class="dropdown-city-option" value="7">Greenfield</option>
                    <option id="8" class="dropdown-city-option" value="8">Janesville</option>
                    <option id="9" class="dropdown-city-option" value="9">Kenosha</option>
                    <option id="10" class="dropdown-city-option" value="10">La Crosse</option>
                    <option id="11" class="dropdown-city-option" value="11">Madison</option>
                    <option id="12" class="dropdown-city-option" value="12">Milwaukee</option>
                    <option id="13" class="dropdown-city-option" value="13">New Berlin</option>
                    <option id="14" class="dropdown-city-option" value="14">Oshkosh</option>
                    <option id="15" class="dropdown-city-option" value="15">Racine</option>
                    <option id="16" class="dropdown-city-option" value="16">Sheboygan</option>
                    <option id="17" class="dropdown-city-option" value="17">Waukesha</option>
                    <option id="18" class="dropdown-city-option" value="18">Wausau</option>
                    <option id="19" class="dropdown-city-option" value="19">Wauwatosa</option>
                    <option id="20" class="dropdown-city-option" value="20">West Allis</option>
                  </select>           
                </div>
                <br/>
                <h4>Select a Picture:</h4>
                <!-- browse a file to upload input -->
                <div class="row justify-content-center">
                  <div class="col-7">
                    <div class="input-group mb-4 pb-1 w-100">
                      <form action='/post' method='POST' enctype="multipart/form-data" >
                        <div class="form-group">
                          <label for="exampleFormControlFile1"></label>
                          <input type="file" accept='image/*' name='postImage' class="form-control-file" id="exampleFormControlFile1">
                        </div>
                      </form>
                    </div>
                  </div>    
                </div>  
                <!-- description of area input -->
                <h4>Describe Your Journey!</h4>
                <div class="row justify-content-center">
                  <div class="col-9">
                    <div class="input-group-description mb-3 w-125">
                      <input type="text" id="infoHolder" class="form-control" placeholder="Description of location." aria-label="" aria-describedby="basic-addon1">
                    </div>
                  </div>    
                </div> 
                <button type="button" class="btn btn-secondary btn-lg mb-3" id="submitBtn">Submit</button>
              </div> 
            </div>      
          </div>
        </article>
        <!-- This is where user sees there own posts -->
        <div id='userContent' class="d-flex text-center align-items-center justify-content-around flex-wrap"></div>
      </div>
    </div>
  </section>
  <script src="/js/log-out.js"></script>    
  <script src="/js/posting.js"></script>