<!-- log in form -->
<body>
        <main id="mainLogInContainer" class="d-flex justify-content-center p-4 m-4">
            <form>
                <h4>Enter User Information</h4>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-12">
                    <input type="email" autocomplete="username"  class="form-control pb-1" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-12">
                    <input type="password" autocomplete="new-password" class="form-control pb-1" id="password" placeholder="Password">
                    </div>
                </div>
                <br/>
                <button id="logInBtn" type="button" class="form-group-row btn btn-secondary w-100">Log In</button>
            </form>
        </main>  
    <script src="/js/log-in.js"></script>    
</body>
