<!-- we can always style later, for now here are three divs to work with to gather info -->
<main>
    <div id="userNameDiv">
        <p>Username</p>
    </div>
    <div id="uploadedPictureDiv">
        <img src="">
    </div>
    <div id="descriptionDiv">
        <p>Description of picture.</p>
    </div>
</main>