* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.html style start */
/* navbar font style */
#headerNav {
    font-family: "Merienda", sans-serif;
}

/* gets rid of the empty space on right side of website */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* body style start */
body {
    font-family: "Cairo", sans-serif;
    background-color: rgb(158, 158, 175);
}

/* index.handlbars style start */
/* this adjusts the width of the select a city input */
.custom-select {
    width: 325px;
}

/* does this even work? */
.menu-scroll {
    overflow-y: scroll;
    max-height: 200px;
}