* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.html style start */
/* navbar font style */
.navbar {
    font-family: "Merienda", sans-serif;
}

/* gets rid of the empty space on right side of website */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* body font style */
body {
    font-family: "Baloo Tammudu 2", sans-serif;
    background-color: rgb(158, 158, 175);
}

.intro-p {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-style: italic
}

.intro-p2 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.card {
    padding: 0rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 1rem;
}

/* this adjusts the width of the select a city on index.html */
.custom-select {
    width: 325px;
}

.dropdown-city-option {
    width: 4px;
}

/* #selectCitySignInButton {
    padding-bottom: 2rem;
} */

/* placeholder font style end */

/* .menu {
    text-align: center;
} */

/* index.html style end */

/* about.html style start */


.aboutp1 {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
}

/* about.html style end */